body {
  margin: 0;
  padding: 0;
  background: #1B1F2F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @font-face {
  font-family: 'SFProDisplay-Light';
  src: local('SFProDisplay-Light'), url(./assets/fonts/SFProDisplay-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: local('SFProDisplay-Medium'), url(./assets/fonts/SFProDisplay-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: local('SFProDisplay-Bold'), url(./assets/fonts/SFProDisplay-Bold.ttf) format('ttf');
} */
